text-blx.bib
text.aux
text.log
text.out
text.run.xml
text.synctex.gz
text.toc
text.bbl
text.blg
slides-blx.bib
slides.aux
slides.log
slides.out
slides.run.xml
slides.synctex.gz
slides.toc
slides.bbl
slides.blg
slides.nav
slides.snm
slides.vrb
